@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  /* font-weight: bold; */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.day-mode {
  background-color: white;
  color: black;
}

body.night-mode {
  background-color: black;
  color: white;
}

.hover-effect {
  transition: color 0.3s, opacity 0.3s;
}

.hover-effect:hover {
  color: #f97316;
}

.scramble:hover {
  animation: scramble 0.3s steps(5) forwards;
}

@keyframes scramble {
  0% {
    content: attr(data-text);
  }
  100% {
    content: "Scrambled!";
  }
}

::selection {
  background-color: #ff58d2;
  color: #000000;
}
