@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.light-mode {
  background-color: rgb(252, 242, 227);
  background-color: whitesmoke;
  color: black;
}

::selection {
  background-color: #ff58d2;
  color: #000000;
}

.hover-effect {
  transition: color 0.3s, opacity 0.3s;
}

.hover-effect:hover {
  color: #f97316;
}
