@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(180, 234, 250);
  color: rgb(11, 5, 91);
}

::selection {
  background-color: #ff58d2;
  color: #000000;
}
