.parallax {
  color: rgba(250, 240, 202, 0.345);
  background-color: #18222b;
}

.subHeading {
  font-family: "Karrik";
<<<<<<< HEAD
=======
  font-weight: bolder;
  text-transform: lowercase;
  line-height: 3rem;
}

.hero {
  width: 120%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
>>>>>>> fcfdafb9507fc833128dd730cbcb1184a57607c5
}

.content {
  font-family: "Bolota";
  animation: ripple 20s infinite alternate ease-in-out;
}


.lineheight {
  line-height: 5rem;
}
@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#homeIcon span {
  color: #f95838af;
  transition: transform 0.5s ease;
}
#homeIcon:hover span {
  transform: translateY(-5px) rotate(7deg);
}

.navbar {
  transition: bottom 0.2s ease, opacity 0.5s ease;
}

.navbar.show {
  bottom: 0;
  opacity: 1;
}

.navbar.hide {
  top: -60px; /* Hidden underneath the viewport */
  opacity: 0;
}
