@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  font-family: "Goli", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d0cfe4dc;
}

.subHeading {
  font-family: "Karrik", Helvetica, sans-serif;
  letter-spacing: -0.75rem;
  transition-property: letter-spacing;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.subHeading:hover {
  letter-spacing: normal;
}

@media (max-width: 640px) {
  .subHeading {
    letter-spacing: normal;
  }
}

#hero {
  font-family: "Bolota", Impact, sans-serif;
}

#flutter {
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  font-size: clamp(3rem, 10vw, 10rem);
}

nav {
  font-family: "Karrik", Helvetica, sans-serif;
}

.progress {
  background-color: #d0cfe4dc;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
