@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272c39;
  text-align: left;
}

.scramble:hover {
  animation: scramble 0.3s steps(5) forwards;
}

@keyframes scramble {
  0% {
    content: attr(data-text);
  }
  100% {
    content: "Scrambled!";
  }
}

.bar {
  background-color: #272c39;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-pulseUpDown {
  animation: pulseUpDown 3s ease-in-out infinite;
}

/* CUSTOM TAILWIND */
.btn-dark {
  @apply rounded-lg px-4 py-2 border-2 border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-gray-100 duration-300;
}
.btn-light {
  @apply rounded-lg px-4 py-2 border-2 border-gray-300 text-gray-100 hover:bg-gray-300 hover:text-gray-800 duration-300;
}
.sub-heading {
  @apply text-7xl font-light;
}
